@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5.9% 10%;
    --radius: 1rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply overflow-x-hidden max-w-[100vw] bg-background text-foreground;
  }
}

/* globals.css */
@layer utilities {
  .btn-primary-orange {
    @apply bg-primaryOrange hover:!bg-primaryOrange/90 text-primaryOrange-foreground rounded-lg transition-all duration-300;
  }
}

/* Swiper Navigation */
.swiper-button-next,
.swiper-button-prev {
  @apply text-white bg-black/50 w-10 h-10 rounded-full -mt-8 shadow-lg transition-all duration-300 hover:bg-black/70 ring-2 ring-gray-300 hover:ring-gray-500 !important;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  @apply text-lg font-bold !important;
}
.swiper-pagination-bullets {
  @apply absolute bottom-[0px] flex items-center  border rounded-full border-gray-400 w-auto px-4 py-2.5 left-1/2 -translate-x-1/2 !important;
}
/* Swiper Pagination */
.swiper-pagination-bullet {
  @apply h-3  w-3 bg-gray-400  border border-white opacity-70 transition-all duration-300 hover:opacity-100 ring-2 ring-gray-300 hover:ring-gray-500 !important;
}

.swiper-pagination-bullet-active {
  @apply bg-black opacity-100 scale-110 ring-2 ring-black !important;
}

.swiper {
  padding-bottom: 3.6rem;
}
